# VacationPy
----

""""""
### Part II - VacationPy

* Using Google Places API to find the first hotel for each city located within 5000 meters of your coordinates.

* Plot the hotels on top of the humidity heatmap with each pin containing the **Hotel Name**, **City**, and **Country**.

* For Part I, you must include a written description of three observable trends based on the data.
* For Part II, you must include a screenshot of the heatmap you create and include it in your submission.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
#from api_keys import g_key
from config import gkey

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Load/study data files
weather_data_path = './weather_datat.csv'

# Read the mouse data and the study results
weather_data = pd.read_csv(weather_data_path)

weather_data.head()


#weather_dataframe = pd.read_csv('..weather.datat.csv')
#weather_dataframe.head()

,Unnamed: 0,City,Country,Temperature,Humidity,Cloudiness,Windspeed,Latitude,Longitude,Date
0,0,talnakh,RU,32.92,98,100,9.64,69.4865,88.3972,1622256810
1,1,west bay,US,69.55,88,1,5.99,31.8024,-97.0917,1622256714
2,2,barrow,US,30.22,80,90,4.61,71.2906,-156.7887,1622256810
3,3,touros,BR,76.10,91,61,10.31,-5.1989,-35.4608,1622256810
4,4,mahebourg,MU,74.25,88,75,0.00,-20.4081,57.7000,1622256811

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
#configure gmaps
gmaps.configure(api_key=gkey)

# #get locations and humidity
# city_locations = weather_data[['Latitude', 'Longitude']].astype(float)
# humidity = weather_data['Humidity'].astype(float)

# #format layout of map
# layout = {
#     'width': '1000px',
#     'height': '600px',
#     'border': '1px solid black',
#     'padding': '1px'}

# #add heatmap
# fig = gmaps.figure(map_type='HYBRID', layout=layout)

# heat_layer = gmaps.heatmap_layer(city_locations, weights=humidity, 
#                                  dissipating=False, max_intensity=100,
#                                  point_radius = 1)

# fig.add_layer(heat_layer)

# fig

In [4]:
# Heatmap of humidity
locations = weather_data[["Latitude", "Longitude"]]
humidity = weather_data["Humidity"]
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=5)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
#Does this drop any rows with null values?

myFavoriteWeather = weather_data.loc[(weather_data['Temperature'] >= 70) & (weather_data['Temperature'] <= 80) & 
                                  (weather_data['Windspeed'] <= 20) & (weather_data['Humidity'] <= 30)]
myFavoriteWeather

,Unnamed: 0,City,Country,Temperature,Humidity,Cloudiness,Windspeed,Latitude,Longitude,Date
231,231,siva,EG,78.17,30,0,5.61,29.2041,25.5195,1622256877
296,296,winnemucca,US,75.25,12,1,7.87,40.9730,-117.7357,1622256896
351,351,kutum,SD,75.58,12,0,8.84,14.2000,24.6667,1622256913
526,526,jinchang,CN,79.45,15,29,15.52,38.4953,102.1739,1622256963

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
# Create DataFrame called hotel_df to store hotel names along with city, country and coordinates
hotel_df = myFavoriteWeather[["City", "Country", "Latitude", "Longitude"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

           City Country  Latitude  Longitude Hotel Name
231        siva      EG   29.2041    25.5195
296  winnemucca      US   40.9730  -117.7357
351       kutum      SD   14.2000    24.6667
526    jinchang      CN   38.4953   102.1739

In [7]:
# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "types": "lodging",
    "key": gkey
}
# Iterate through
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Latitude"]
    lng = row["Longitude"]
    params["location"] = f"{lat},{lng}"
    # Use the search term: "Hotel" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # make request and print url
    name_address = requests.get(base_url, params=params)
    # convert to json
    name_address = name_address.json()
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
hotel_df

,City,Country,Latitude,Longitude,Hotel Name
231,siva,EG,29.2041,25.5195,Qasr Alzaytuna Inn
296,winnemucca,US,40.9730,-117.7357,Winners Inn Casino
351,kutum,SD,14.2000,24.6667,Dibbo areaمنطقة دبو
526,jinchang,CN,38.4953,102.1739,Mingshihui Jinchang International Hotel

In [8]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [9]:
# Add marker layer ontop of heat map
# Add marker layer ontop of heat map
gmaps.configure(api_key=gkey)

fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
#Display figure

fig

# # Display figure
# fig

Figure(layout=FigureLayout(height='420px'))